@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap");
.buttons {
    width: 100%;
    height: 6em;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .button {
        height: 3em;
        width: 7em;
        border-radius: 5px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        font-family: "Urbanist", sans-serif;
        font-size: 1em;
        font-weight: 1000;
    }
    .popular {
        background-color: rgb(2, 123, 255);
        &:hover {
            background-color: rgb(1, 105, 207);
        }
        &:active {
            opacity: 0.6;
        }
    }
    .top-rated {
        background-color: rgb(40, 167, 69);
        &:hover {
            background-color: rgb(33, 136, 55);
        }
        &:active {
            opacity: 0.6;
        }
    }
    .up-coming {
        background-color: rgb(255, 192, 8);
        &:hover {
            background-color: rgb(237, 178, 6);
        }
        &:active {
            opacity: 0.6;
        }
    }
}

@media only screen and (max-width: 26.5em) {
    .movie-tag {
        width: 40%;
        .play-button {
            height: calc(100% - 5.4em);
        }
        .movie-name {
            width: 100%;
            height: 4em;

            p {
                font-size: 12px;
            }

            h3 {
                font-size: 12px;
            }
        }
        .movie-release {
            font-size: 12px;
        }
    }
}

@media only screen and (min-width: 26.5625em) and (max-width: 63.9375em) {
    .buttons {
        .button {
            width: 6em;
        }
    }
}

@media only screen and (max-width: 26.5em) {
    .buttons {
        .button {
            width: 6em;
        }
    }
}

.movie-render-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.trailer {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 70%);
    position: absolute;
    z-index: 1;
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    iframe {
        position: absolute;
        width: 90%;
        top:30em;
        height: 35em;
    }
}

@media only screen and (min-width: 26.5625em) and (max-width: 63.9375em) {
  .trailer{
      iframe{
          top:20em;
        width: 80%;
        height: 25em;
      }
  }
}

@media only screen and (max-width: 26.5em) {
    .trailer{
        iframe{
            top :10em;
          width: 100%;
          height: 15em;
        }
    }
}

.load-more-container{
    width: 100%;
    margin: 3em 0;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    .load-more{
        width: 10em;
        height: 3em;
        border-radius: 5px;
        background-color: rgb(5, 172, 77);
        border:none;
        &:hover{
            background-color: rgb(33, 136, 55);
            cursor: pointer;
        }
        &:active{
            background-color: rgb(33, 150, 90);
        }
    }
}

.loading {
    width: 100%;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 10em;
    }
}