.quizz-container {
    width: 40vw;
    height: 60vh;
    border-radius: 30px;
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #90d5ec 24%, #fc575e 74%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

.form-container {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .answer{
        height: 20%;
    }
}

label {
    margin-left: 10px;
}

.submit {
    height: 15%;
    width: 124%;
    border-radius: 0 0 30px 30px;
    position: relative;
    top:2.5vh;
    right: 12% ;
    outline: none;
    border : none;
    background-color :#861657;
    background-image :linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}

//result 

.result {
    @extend .quizz-container;
    width : 60vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.reload {
    width: 60vw;
    height: 15%;
    border-radius: 0 0 30px 30px;
    outline:none;
    border:none;
    background-color :#861657;
    background-image :linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}