.user-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 80px;
    .user {
        width: 20%;
        height: 250px;
        margin: 20px 20px;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px dotted rgb(116, 116, 116);
        img {
            width: 120px;
            border-radius: 50%;
        }
        p {
            font-size: 20px;
        }
        button {
            width: 50px;
            height: 35px;
            background-color: cadetblue;
            border-radius: 10px;
            background-color: rgb(65, 138, 200);
            color: white;
            outline: none;
            border: none;
            &:active {
                // color:black;
                box-shadow: 1px 1px 2px rgb(65, 138, 200);
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .user-container {
        .user {
            width: 27%;
            height: 280px;
        }
    }
}

@media screen and (max-width: 792px) {
    .user-container {
        .user {
            width: 40%;
        }
    }
}

@media screen and (max-width: 600px) {
    .user-container {
        .user {
            width: 70%;
        }
    }
}
