@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");

.popular-container {
  width: 100%;
  height: fit-content;
  position: relative;

  img {
    max-width: 100%;
  }
  .description-container {
    width: 100vw;
    height: 48vh;
    background: linear-gradient(180deg,rgba(0,0,0,0%),rgba(0,0,0,80%));


    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: relative;
    bottom: 47.5vh;

    .popular-name {
      font-family: "Indie Flower", cursive;
      color: white;
      font-size: 56px;
      margin-left: 44px;
    }

    .popular-description {
      width: 70%;
      font-family: "Eczar", serif;
      color: white;
      margin-left: 44px;
    }
  }
}

.slick-slide {
  height:90vh;
}


@media screen and (max-width: 767px) {
  .popular-container {
  
    
    .description-container {
      width: 100vw;
      height: 32vh;

      bottom: 32vh;
  
      .popular-name {
        font-size: 32px;
        margin-left: 44px;
      }
  
      .popular-description {
        width: 70%;
        font-size:16px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .popular-container {
  
    
    .description-container {
      width: 100vw;
      height: 32vh;

      bottom: 32vh;
  
      .popular-name {
        font-size:24px;
        margin-left: 44px;
      }
  
      .popular-description {
        width: 70%;
        font-size:8px;
      }
    }
  }
}