@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid red;
}

body {
  /* display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center; */
  background-color: #2b58ac;
}
/* Container*/
.container {
  width: 70vw;
  height: 60vh;
  display: flex;
  background-color: white;
  border-radius: 5px;
  margin: 10% auto;
}

/* Image in Container */
img {
  border-radius: 5px 0 0 5px;
  width: 45%;
  height: 100%;
}

/* Info Container Box */

.info_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 3%;
  align-items: center;
}


/* Info Container Title */
.info_container-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 1% 0 10% 0;
  color: #2b58ac;
  margin-top: 3%;
}

/* Info Container Form */
.info_form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

#email,#password {
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
  outline: none;
  border: none;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}
input {
  width: 100%;
  height: 25%;
  padding-left: 1%;
}

#checkbox {
    width: 3.8%;
    height: 80%;
    position: relative;
    top: 4%;
    left: -1px;
  }
  .checkbox {
    padding: 0;
    margin: 0;
  }
  
lable {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    position: absolute;
    padding-left: 3px;
    cursor: pointer;
  }

/* Button */
#btn {
  height: 25%;
  background-color: rgba(43, 88, 172, 100%);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}

#btn:hover {
  color: black;
  background-color: rgba(43, 88, 172, 90%);
  cursor: pointer;
  border-radius: 5px;
}

#btn:active {
  width: 98%;
  align-self: center;
  border-radius: 5px;
}


/* forget anchor */

#forget {
  align-self: flex-end;
  padding-top: 4%;
  text-decoration: none;
  color: #9c9c9c;
}

#forget:hover {
  text-decoration: underline;
}

/* sign up anchor */

#sign_up {
  position: relative;
  top: 18%;
  font-family: "Poppins", sans-serif;
  color: #9c9c9c;
}

#sign_up > a {
  text-decoration: none;
  color: #9c9c9c;
}

#sign_up > a:hover {
  text-decoration: underline;
}

#sign_up > a:active {
  color: red;
}

@media(min-width : 414px) {
 img{display: none;}
 .info_container {
  width: 100%;
 }
 
  }
@media(min-width:768px ) {
    img{display: block;}
  }