
nav {
    display: flex;
}

.navbar > span{
    background-color: green;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
}

.navbar > span:hover .navbar_dropdown{
    display: block;
}

span:hover{
    background-color: yellow;
}
.navbar_dropdown{
    display: none; 
}
.navbar_dropdown > span{
    display: block;
    background-color: greenyellow;
    color: black;
}
.navbar_dropdown span:hover{
    background-color: palevioletred;
}
