
//Mixin 
@mixin flex($display, $justifyContent, $alignItems) {
    display: $display;
    justify-content: $justifyContent;
    align-items: $alignItems;
}


//Styles
.container{
    width: 100vw;
}


.first-container {
    width: 100%;
    height: 110vh;
}

.table-container,.map-container{
    width: 80%;
    height: 90%;
    
}
.second-container{
    width: 100vw;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 10%;
    margin: 2% auto;
    
}




@media (min-width: 740px) and (max-width: 1112px) {
    .first-container {
        width: 100vw;
    }
    .container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .second-container{
        width: 100vw;
        margin-top: 6%;
    }

    .table-container,.map-container{
        width: 100%;
        height: 90vh;
        padding: 2% 4.5%;
    
    }

}


@media (min-width: 1113px) {

    .container{
        width: 100vw;
        display: flex;
    }
    
    .btn-container{
        width: 70%;
        margin: auto;
        height: 10%;
        @include flex(flex,space-around,center)
    }

    .first-container {
        width: 60%;
    }
    .second-container{
        width: 40%;
        height: 100vh;
        margin:0;
    }
    .table-container,.map-container{
        width: 100%;
        height: 90%;
        padding: 0% 5% 3%% 5%;
    
    }
}
