@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

.user-repo {
    width: 100%;
    h3 {
        margin-bottom: 28px;
    }
    .repo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: "Cabin", sans-serif;
        flex-wrap: wrap;
        .user-repository {
            border:1px dotted black;
            margin-bottom: 24px ;
            padding: 16px;
            width: 45%;
            height: 132px;
            .repo-name {
                text-decoration: none;
                color: rgb(26, 119, 242);
                font-size: 24px;
                text-overflow: ellipsis;
                overflow: hidden !important;
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
            }
            .fork-form {
                margin-top: 12px;
                color: rgb(133, 133, 133);
                a {
                    color: rgb(26, 119, 242);
                    text-decoration: none;
                    display: inline-block;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden !important;
                    text-overflow: ellipsis;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
            .description {
                margin-top: 4px;
                text-overflow: ellipsis;
                overflow: hidden !important;
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .user-repo {
        .repo {
            .user-repository {
                padding: 16px;
                width: 100%;
            }
        }
    }
}
