@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Ubuntu:ital,wght@1,300&display=swap');
.user-info {
    width: 100vw;
    padding: 0 80px;
    .back-to-home {
        width: 280px;
                display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 24px;
        button {
            height: 36px;
            width: 160px;
            border: none;
            cursor: pointer;
        }
        h4 {
            font-family: 'Noto Sans JP', sans-serif;
            img {
                width: 15px;
            }
        }
    }
    h3{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 20px;
    }
}




@media screen and (max-width:760px) {
    .user-info {
        width: 100vw;
        padding: 0 80px;
    }
}
