@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

// Flex Mixin
@mixin flex($display, $justifyContent, $alignItems) {
    display: $display;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

//Select
.select-container {
    margin: 20px 0;
    padding: 0 5%;
    width: 100%;
    height: 28px;

    @include flex(flex, flex-end, center);

    font-size: 16px;
}

.border {
    border: 1px solid black;
}

.totalcase-container {
    width: 100%;
    margin: auto;
    @include flex(flex, center, center);
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    height: 65vh;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;

    .total-container {
        box-shadow: 3px 3px 10px rgb(213, 178, 13);
        border-top: 5px solid rgb(213, 178, 13);
    }

    .recover-container {
        box-shadow: 3px 3px 10px rgb(58, 155, 19);
        border-top: 5px solid rgb(58, 155, 19);
    }

    .death-container {
        box-shadow: 3px 3px 10px rgb(190, 39, 14);
        border-top: 5px solid rgb(190, 39, 14);
    }

    .box {
        height: 120px;
        width: 90%;
        padding: 0 12px;

        border-radius: 5px;
        @include flex(flex, space-between, flex-start);
        flex-direction: column;

        color: rgba(125, 125, 125, 60%);
        font-size: 18px;
        font-family: "Rubik", sans-serif;

        .total {
            color: rgb(213, 178, 13);
        }

        .recover {
            color: rgb(58, 155, 19);
        }

        .death {
            color: rgb(190, 39, 14);
        }

        span {
            font-size: 16px !important;
        }

        p {
            height: 20%;
        }

        .old {
            width: 60%;
            @include flex(flex, space-between, center);
            font-size: 16px;
        }
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1112px) {
    .select-container {
        justify-content: flex-start;
        padding: 0 5%;
    }

    .totalcase-container {
        width: 90%;
        height: 22vh;
        justify-content: space-evenly;

        .box {
            width: 30%;
            margin: 0 0 0 0;
            .old {
                width: 100%;
                @include flex(flex, space-around, center);
                font-size: 14px;
                span {
                    font-size: 13px !important;
                }
            }
        }
    }
}

/* Wide Screen */
@media (min-width: 1113px) {
    .select-container {
        justify-content: flex-start;
        padding: 0 5%;
    }
.container {
    width: 100%;
}

    .totalcase-container {
        width: 90%;
        height: 25vh;
        justify-content: space-evenly;
        margin: auto;

        .box {
            width: 30%;
            margin: 0 0 0 0;
            .old {
                width: 100%;
                @include flex(flex, space-around, center);
                font-size: 13px;
                span {
                    font-size: 13px !important;
                }
            }
        }
    }
}
